
brainCscaleddata.csv
data/V1_Human_Lymph_Node/filtered_feature_bc_matrix.h5
data/V1_Human_Lymph_Node/spatial/aligned_fiducials.jpg
data/V1_Human_Lymph_Node/spatial/detected_tissue_image.jpg
data/V1_Human_Lymph_Node/spatial/scalefactors_json.json
data/V1_Human_Lymph_Node/spatial/tissue_hires_image.png
data/V1_Human_Lymph_Node/spatial/tissue_lowres_image.png
data/V1_Human_Lymph_Node/spatial/tissue_positions_list.csv
data/V1_Human_Lymph_Node/V1_Human_Lymph_Node_spatial.tar.gz
RegionC_10xBarcode_mzlist20ppm_nearestbinning.csv
SS200000135TL_D1.tissue.gem
SS200000135TL_D1_regist.tif
tissue_positions_list.csv
exam.py
